.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top:2rem;
	z-index: 2;
	.name{
		cursor: pointer;
		width: 10%;
		.st0{
			fill: $wt;
		}
		svg{
			width:20%;
		}
	}
	.nav-logo__flex{
		display: flex;
		justify-content: space-between;
	}
	.toggle-wrap{
		cursor: pointer;
		position: absolute;
		display: block;
		--line-hight: 0.5px;
		--line-width: 20px;
		top:50%;
		width:30px;
		height: 30px;
		padding: 0 1rem;
		margin-right:1rem;
		right:0;
		transform: translateY(-50%);
		&:hover{
			.mobile-toggle{
				width: var(--line-width);
			}
		}
		.mobile-toggle{
			top: 50%;
			right: 0;
			position: absolute;
			height: var(--line-hight);
			width: calc(var(--line-width) - 8px);
			background-color: $wt;
			transform: translateY(-50%);
			transition: width 300ms ease;
			&::before, &::after{
				content: '';
				position: absolute;
				right: 0;
				height: var(--line-hight);
				width: var(--line-width);
				background-color: $wt;
			}
			&::before{
				top: -6px;
			}
			&::after{
				bottom: -6px;
			}
		}
		@include mq(m, min){
			display: none;
		}
	}
}