.navigation{
	position: relative;
	transition: transform 350ms ease-in;
	&__list{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__item{
		padding:1rem;
	}
	&__link{
		text-transform: uppercase;
		text-decoration: none;
		font-size: .65rem;
		color:$wt;
		@include mq(m, max){
			font-size: 1rem;
			text-align: left;
			color:$ltbe;
		}
	}
	@include mq(m, max){
			display: block;
			visibility: hidden;
			position: absolute;
			width: 40%;
			height: 100vh;
			background-color: darken($wt, 0.5%);
			top:-2rem;
			right: 0;
			transform: translateX(100%);
			transition: transform 350ms ease-in;
			z-index: 2;

	}
}