.navigation{
	position: relative;
	&__list{
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	&__item{
		padding:1rem;
	}
	&__link{
		text-transform: uppercase;
		text-decoration: none;
		font-size: .65rem;
		color:$wt;
	}
	@include mq(m, max){
		display: none;
	}
}