@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
//colors
$tt:#212529;
$wt: whitesmoke;

$ny: #2c3383;
$ltbe2:#2b4c9d;
$ltbe: #2c57a6;

//fonts
$ff: sans-serif;
$fh: 'Maven Pro', sans-serif;
